nav {
  z-index: 1000;
  box-sizing: border-box;
  height: 70px;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Mulish", sans-serif;
}

.navbar_headroom {
  z-index: 10;
}

.navbar {
  z-index: 1000;
  /* position: relative; */
  background-color: #fafaf9;
  /* padding-top: 4vw; */
  padding-top: 10px;
  padding-bottom: 10px;
  /* margin: 10px; */
  padding-right: 2vw;
  padding-left: 2vw;
}

.logo a {
  text-decoration: none;
  color: #4d8c89bb;
  padding-left: 40px;
  font-size: 35px;
  font-weight: 900;
  text-transform: capitalize;
  transition: all ease 0.7s;
}

.logo a:hover {
  color: #746e65;
}

.rightNav {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 16px;
}

.rightNav h4 {
  padding: 8px 20px;
  border: 1px solid #5f595168;
  /* border-radius: 50px; */
  font-weight: 600;
  color: #746e65;
  position: relative;
  font-size: 16px;
  overflow: hidden;
}

.rightNav h4 a {
  text-decoration: none;
  color: #746e65;
  position: relative;
  z-index: 3;
}

.rightNav h4::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #746e65c6;
  left: 0;
  bottom: -100%;
  border-radius: 90%;
  transition: all ease 0.5s;
}

.rightNav h4:hover {
  cursor: pointer;
}

.rightNav h4:hover a {
  color: white;
}

.rightNav h4:hover::after {
  bottom: 0;
  border-radius: 0;
  transition: all ease 0.5s;
}

@media screen and (max-width: 500px) {
  .logo a {
    color: #4d8c89bb;
    padding-left: 12px;
    font-size: 22px;
    font-weight: 900;
    transition: all ease 0.7s;
    justify-content: center;
  }

  /* nav
  {
    height: 70px;
  } */

  .navbar {
    /* background-color: red; */
    max-width: 100vh;
    /* padding-top: 10px;
    padding-bottom: 10px; */
    height: 50px;
  }
  .rightNav {
    display: none;
  }
}
